<li class="meetup-item">
                    <article>
                        <div class="meetup-summary">
                            <div class="meetup-image">
                                <img src="{{ image }}" alt="{{ title }}">
                            </div>
                            <div class="meetup-details">
                                <h3>{{ title }}</h3>
                                <address>{{ location }}</address>
                            </div>
                        </div>
                        <div class="meetup-actions">
                            <a href="{% url 'meetup-detail' slug %}" class="btn">More Details</a>
                        </div>
                    </article>
                </li>