{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}My Meetings{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css' %}">
{% endblock %}

{% block main_heading %}
Check out our Meetings!
{% endblock %}

{% block header_content %}
    <p>Check out our programs!</p>
{% endblock %}

{% block body %}
<section>
        <h2>Upcoming Meetings:</h2>
        <ol>
            {% for i in meetups%}
                {% include 'meetups/includes/meetup-items.html' with title=i.title image=i.image.url location=i.location slug=i.slug %}
            {% endfor %}
        </ol>
    </section>
{% endblock %}
