{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'meetups/styles/meetup-correct-detail.css' %}">
{% endblock %}

{% block main_heading %}
    {{ meetup.title }}
{% endblock %}

{% block body %}
    {% if meetup_found %}
    <article>
            <img id="main-image" src="{{ meetup.image.url }}" alt="{{ meetup.title }}">

            <section id="location">
                <h3>Meeting location</h3>
                <address>This meeting takes place in <span>{{  meetup.location.name }}</span> ({{ meetup.location.address }}).</address>
            </section>

            <section id="details">
                <h2>What is this meeting about?</h2>
                <p>{{ meetup.description }}</p>
                <footer>
                    <p>Need more info? Please <a href="mailto:{{ organizer_email }}">contact the organizer</a></p>
                </footer>
            </section>

            <section id="registration">
                <h2>Join us!</h2>
                <form action="{% url 'meetup-detail' meetup.slug %}" method="post">
                    {% csrf_token %}
                    <ul>
                        {{ form.as_ul }}
                    </ul>
                    <div id="registration-actions">
                        <button>Register</button>
                    </div>
                </form>
            </section>
        </article>
    {% else %}
        <p>No meetup found!</p>
    {% endif %}

{% endblock %}