{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}YOU REGISTERED SUCCESSFULLY!{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static '/meetups/styles/registration-confirmation.css' %}">
{% endblock %}

{% block main_heading %}
Thank you for your time!
{% endblock %}

{% block body %}
    <section id="confirmation">
    <h2>Thank you for signing up!</h2>
    <p>Any problems? Please <a href="mailto:{{ organizer_email }}">contact us!</a> </p>
    </section>

    <section id="continue">
    <p>You can register for more meetings!</p>
    <p><a href="/meetups" class="btn">Explore More!</a> </p>
    </section>
{% endblock %}