{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Meetings{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
    {% block site_css %}{% endblock %}
    </head>
<body>
<header id="main-header">
    <nav><a href="/meetups" id="main-logo">DjangoMeetups</a> </nav>
    <h1>{% block main_heading %}Meetings!{% endblock %}</h1>
    {% block header_content %}<p>Check out our programs!</p>{% endblock %}
</header>
<main>
    {% block body %}{% endblock %}
</main>
</body>
</html>